div {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px; 
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}
