.listItems {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 10%;
}

.listItems::after {
    content: "";
    flex: auto;
}


.items {  
    width: 20%;
    margin: 10px 5px; 
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    padding: 6px;

    position: relative; 
}

.items img {
    height: 150px;
    overflow: hidden;
    display: block; 
    margin: 0 auto; 
}
